@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes eq {
  0% {
    transform: scaleY(0.8);
  }
  50% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(0.8);
  }
}

.animate-eq {
  animation: eq 1s ease-in-out infinite;
}

.glass-morphism {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}